In [ ]:
Introduction to python fundamentals

In [ ]:
Understanding variables in python

In [2]:
a = 3
b = 4

In [4]:
c = a+b
print(c)

7

In [ ]:
rule no : 1

In [ ]:
No namespace for declaring variables names

In [5]:
Firstname = "Sheik"
print (Firstname)

Sheik

Rule no : 2

In [ ]:
a variable name should not start with a number .

In [6]:
Name1 = "Mobileshop"
print (Name1)

Mobileshop

rule no : 3

In [ ]:
a variable name should not contain any special characters

In [7]:
name$ = " Mohammed " 
print (name$)

SyntaxError: invalid syntax (4134283374.py, line 1)

In [8]:
name = " Mohammed " 
print (name)

 Mohammed

In [ ]:
Datatypes in python

In [9]:
string = str 
numbers = integers (int) 
          float (decimals)(0.1,0.2)
lists = list
tuples = tuple 
dictionaries = dict

IndentationError: unexpected indent (18662712.py, line 3)

In [ ]:
string : a string is a series of characters declared in a quote. string may be in single and double quote.

In [10]:
name1 = 'raja'
print (name1)

raja

In [ ]:
name2 = "